!!! 5
html
  head
    script(src='/javascript/jquery-1.5.min.js')
    script(src='/javascript/underscore-min.js')
    script(src='/javascript/renderer.js')
    script(src='/javascript/game.js')
  body
    //ul
    //  li
    //    a(href='/renderer') Renderer
    //  li
    //    a(href='/demo') Demo
    //  li
    //    a(href='/test') Test
    !{body}